In [2]:
import investpy
import pandas
import matplotlib

In [3]:
search_results = investpy.search_quotes(text='Newcastle Coal', products=['commodities'], countries=['United kingdom'])

In [4]:
for search_result in search_results:
    print(search_result)

{"id_": 1112837, "name": "Newcastle Coal Futures", "symbol": "NCFMc1", "country": null, "tag": "/commodities/newcastle-coal-futures", "pair_type": "commodities", "exchange": "ICE"}

In [5]:
search_result = search_results.pop(0)
print(search_result)

{"id_": 1112837, "name": "Newcastle Coal Futures", "symbol": "NCFMc1", "country": null, "tag": "/commodities/newcastle-coal-futures", "pair_type": "commodities", "exchange": "ICE"}

In [8]:
coal_recent_data = search_result.retrieve_recent_data()

coal_recent_data.head()

              Open    High     Low   Close  Volume  Change Pct
Date
2022-04-20  326.35  326.35  326.35  326.35       5        1.67
2022-04-21  333.00  333.00  331.00  331.10      35        1.46
2022-04-22  326.00  326.00  326.00  327.10       6       -1.21
2022-04-25  328.50  328.50  328.50  328.60      45        0.46
2022-04-26  325.00  325.00  325.00  325.00      35       -1.10

In [9]:
coal_historical_data = search_result.retrieve_historical_data(from_date='01/01/2010', to_date='01/01/2022')
coal_historical_data.head()

              Open    High     Low   Close  Volume  Change Pct
Date
2010-01-04   92.60   92.60   92.60   92.60       5        2.77
2010-01-05   96.08   96.08   96.08   96.08       5        3.76
2010-01-06   97.16   97.16   97.16   97.16       5        1.12
2010-01-07  101.72  101.72  101.72  101.72      25        4.69
2010-01-08  100.38  100.38  100.38  100.38       5       -1.32

In [10]:
stock_information = search_result.retrieve_information()

stock_information

{'prevClose': 412,
 'tick_size': '-',
 'open': 416,
 'contract_size': '-',
 'tick_value': '-',
 'dailyRange': '412-419.25',
 'settlement_type': '-',
 'base_symbol': '-',
 'weekRange': '101-435',
 'settlement_date': '05/27/2022',
 'point_value': '-',
 'oneYearReturn': '315.74%',
 'rollover_day': '-',
 'instrument_month': '-'}

In [11]:
# info
historical_data.info()

NameError: name 'historical_data' is not defined