In [12]:
import investpy
import pandas
import matplotlib

In [13]:
# uk natural gas 

search_results = investpy.search_quotes(text='natural gas', products=['commodities'], countries=['United kingdom'])

In [14]:
for search_result in search_results:
    print(search_result)

{"id_": 1057002, "name": "Natural Gas Futures", "symbol": "NGLNMc1", "country": null, "tag": "/commodities/natural-gas?cid=1057002", "pair_type": "commodities", "exchange": "ICE"}
{"id_": 1186981, "name": "Natural Gas Futures", "symbol": "NGLNSc1", "country": null, "tag": "/commodities/natural-gas?cid=1186981", "pair_type": "commodities", "exchange": "ICE"}
{"id_": 1186982, "name": "Natural Gas Futures", "symbol": "NGLNSc2", "country": null, "tag": "/commodities/natural-gas?cid=1186982", "pair_type": "commodities", "exchange": "ICE"}
{"id_": 1186983, "name": "Natural Gas Futures", "symbol": "NGLNSc3", "country": null, "tag": "/commodities/natural-gas?cid=1186983", "pair_type": "commodities", "exchange": "ICE"}

In [15]:
natgas_recent_data = search_result.retrieve_recent_data()

natgas_recent_data.head()

              Open    High     Low   Close  Volume  Change Pct
Date
2022-04-20  190.00  193.50  190.00  192.10      40        3.77
2022-04-21  189.00  196.56  189.00  196.18     180        2.12
2022-04-22  195.50  196.30  191.25  192.23     140       -2.01
2022-04-25  193.51  194.00  189.00  188.98      75       -1.69
2022-04-26  180.00  182.38  170.50  179.20     185       -5.17

In [16]:
natgas_historical_data = search_result.retrieve_historical_data(from_date='01/01/2010', to_date='01/01/2022')
print(natgas_historical_data)

             Open   High    Low  Close  Volume  Change Pct
Date
2014-11-06  52.55  53.15  52.50  52.90     350        0.36
2014-11-07  53.10  53.60  53.10  53.62     435        1.36
2014-11-10  53.85  53.85  53.80  53.77     220        0.28
2014-11-11  53.35  53.35  53.25  53.35     195       -0.78
2014-11-12  53.35  53.45  53.35  53.46     270        0.21
...           ...    ...    ...    ...     ...         ...
2021-12-23  98.95  98.95  95.80  95.64      70       -3.40
2021-12-24  93.00  94.00  93.00  94.21      55       -1.50
2021-12-29  94.50  94.99  94.50  94.80      15        0.63
2021-12-30  84.00  92.50  77.51  90.00      35       -5.07
2021-12-31  80.03  80.03  80.03  80.03       0      -11.07

[1809 rows x 6 columns]